{% extends 'CaseboxCoreBundle::login.html.twig' %}

{% block form %}
<div id="agreement">

        WARNING NOTICE!

This is a U.S. Government computer system, which may be accessed and used only for authorized Government business by authorized personnel. Unauthorized access or use of this computer system may subject violators to criminal, civil, and/or administrative action.

All information on this computer system may be intercepted, recorded, read, copied, and disclosed by and to authorized personnel for official purposes, including criminal investigations. Such information includes sensitive data encrypted to comply with confidentiality and privacy requirements. Access or use of this computer system by any person, whether authorized or unauthorized, constitutes consent to these terms. 
There is no right of privacy in this system.<br/>
        <input type="button" name="ss" onclick="document.getElementById('agreement').style.display = 'none';document.getElementById('login').style.display = 'block';" id="ss" value="OK" class="btn btn-info" style="margin-top: 26px;">
    </div>
    <div id="login" style="display:none">

    <script type="text/javascript">
        //<--
	var e = document.getElementsByClassName('alert');
	 if (e.length > 0){
		document.getElementById('agreement').style.display = 'none';document.getElementById('login').style.display = 'block';
	}

        String.prototype.trim = function () {
            return this.replace(/^\s+|\s+$/g, "");
        };
        function editChanged() {
            var s = document.getElementById('s');
            if (!s) {
                return;
            }
            var u = document.getElementById('u'),
                p = document.getElementById('p');
            if (e && u) {
                s.disabled = ((e && (e.value.trim() == '') ) && (u && (u.value.trim() == '') ));
            }
            setTimeout(editChanged, 500)
        }
        //-->
    </script>

    <form method="post" action="/c/{{ coreName }}/login/auth" class="standart_form tal" autocomplete="off">
        <label>
			<span class="icon-user" title="Username"></span>
            <input type="text" name="u" id="u" title="Username" placeholder="{{ 'Username'|trans }}">
        </label>
        <label>
		    <span class="icon-lock" title="Password"></span>
            <input type="password" name="p" id="p" title="Password" placeholder="{{ 'Password'|trans }}" onkeydown="javascript:editChanged()">
        </label>
        <a style="margin-top: 30px;" class="pull-right" href="/c/{{ coreName }}/recover/forgot-password">{{ 'ForgotPassword'|trans }}</a>
        <input type="submit" name="s" id="s" value="{{ 'Login'|trans }}" class="btn btn-info" style="margin-top: 26px;" disabled>
    </form>
{% endblock %}